<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <h1>Fornecedor</h1>

            <div class="border border-dark">

                <form th:action="@{/fornecedor/(form)}" th:object="${fornecedor}" method="POST">

                    <input type="hidden" th:field="*{codFornec}">

                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" th:field="*{nome}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" th:field="*{telefone}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" th:field="*{email}" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>

            </div>        

        </div>

        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html> 