<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <h1>Fornecedores</h1>

            <p><a th:href="@{/fornecedor/novo}" class="btn btn-primary btn-lg">Novo</a></p>

            <table class="table">
                <thead class="thead-light">
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr th:each="umfornecedor : ${listafornecedores}">
                        <td th:text="${umfornecedor.nome}"></td>
                        <td th:text="${umfornecedor.telefone}"></td>
                        <td th:text="${umfornecedor.email}"></td>
                        <td><a th:href="@{'/fornecedor/alterar/' + ${umfornecedor.codFornec}}" class="btn btn-primary">Alterar</a></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div th:include="layout :: footer" id="footer">(footer)</div>
        <script type="text/javascript">
            $(document).ready(function(){
                
                /*bootbox.confirm("Eu não acredito!!!!", function(){

                });*/

            });
        </script>
    </body>
</html> 