<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <a href="form.html" th:href="@{/venda/nova}" class="btn btn-primary btn-lg" role="button">Nova</a>
            <div class="border border-dark">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Funcionário</th>
                            <th scope="col">Cliente</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" th:each="umavend : ${listaVenda}">
                            <td th:text="${#dates.format(umavend.data, 'dd/MM/yyyy HH:mm')}"></td>
                            <td th:text="${umavend.funcionarioResponsavel.nome}"></td>
                            <td th:text="${umavend.cliente.nome}"></td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>